<%= form_with(model: poke_datum) do |form| %>
  <% if poke_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poke_datum.errors.count, "error") %> prohibited this poke_datum from being saved:</h2>

      <ul>
        <% poke_datum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.text_field :picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
