<p id="notice"><%= notice %></p>

<h1>Poke Data</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @poke_data.each do |poke_datum| %>
      <tr>
        <td><%= poke_datum.name %></td>
        <td><%= poke_datum.picture %></td>
        <td><%= link_to 'Show', poke_datum %></td>
        <td><%= link_to 'Edit', edit_poke_datum_path(poke_datum) %></td>
        <td><%= link_to 'Destroy', poke_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poke Datum', new_poke_datum_path %>
