<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<div>
  <%= image_tag @pokemon.picture %>
</div>

<p>
  <strong>Trainer:</strong>
  <%= @pokemon.trainer_id %>
</p>

<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>


<div> 
<h2> Abilities </h2>
</div>

<div>
<% @pokemon.abilities.each do |ability| %>
<%= ability.name %>
<% end %>
</div>

<%= form_with url: add_ability_path, method: :get do |form| %>
  <div class="field">
    <%= form.label :ability %>
    <%= form.collection_select :name, Ability.all, :name, :name, propmt: true %>
  </div>

  <div class="field">
    <%= form.hidden_field :id, value: @pokemon.id %>
  </div>

  <div class="actions">
    <%= form.submit 'Add new ability' %>
  </div>
<% end %>