<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trainer.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @trainer.picture %>
</p>

<div>
  <% @trainer.pokemons.each do |poke| %>
    <%= render "shared/pokemon
  <% end %>
<div>

<%= link_to 'Add new pokemon', new_pokemon_path %>
<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
